# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/
*.egg-info/

# Imagens e vídeos de teste
*.jpg
*.jpeg
*.png
*.mp4
*.avi
*.mov
*.mkv
*.flv
!carro_teste.jpg

# Modelos YOLO
*.pt
runs/

# EasyOCR
.EasyOCR/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log
